name: .NET Core

on:
  push:
    branches: [ main]
  pull_request:
    branches: [ main ]
env:
  nuget_folder: "\\packages"
  nuget_upload: "\\packages\\*.nupkg"
  solution: "AstronomyPictureOfTheDay.sln"
jobs:
  build:

    runs-on: 'windows-2025'

    steps:
    - name: Checkout repository
      uses: actions/checkout@v6
      with:
        fetch-depth: 0
    - name: Setup .NET Core
      uses: actions/setup-dotnet@v5
      with:
        dotnet-version: 10.0.x
    - name: Add msbuild to PATH
      uses: microsoft/setup-msbuild@v2
    
    - name: Install Microsoft SBom tool
      run: dotnet tool install --global Microsoft.Sbom.DotNetTool

      
    - name: Install Nerdbank Git versioning
      run: dotnet tool install -g nbgv    
    - name: Install Nerdbank Git versioning
      run: nbgv cloud
    - name: Install dependencies
      run: msbuild ${{env.solution}} -t:restore
    - name: Build
      run: msbuild ${{env.solution}} /t:Build /p:Configuration=Release
    - name: Test
      run: dotnet test --configuration Release -p:CollectCoverage=true -p:CoverletOutput=TestResults/ -p:CoverletOutputFormat=opencover --no-build --verbosity normal    

       
    - name: pack Nuget Packages
      run: dotnet pack AstronomyPictureOfTheDay\AstronomyPictureOfTheDay.csproj --output ${{env.nuget_folder}} --configuration release 
      
    - name: publish Nuget Packages to GitHub
      run: dotnet nuget push ${{env.nuget_upload}} --source ${{vars.NUGET_FEED}} --api-key ${{secrets.NUGET_PACKAGE_UPLOAD}} --skip-duplicate
      if: github.event_name != 'pull_request'


    - name: Upload Packages Artifact
      uses: actions/upload-artifact@v6
      with:
        name: published_nuget
        path: ${{env.nuget_folder}}
